@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
	.signatures {
		padding-top: 3rem;
		padding-bottom: 3rem;
		background-color: #f7f7f7;
		.preview {
			cursor: pointer;
			&, * {
				font-family: Palatino, serif;
			}
			&, a {
				font-weight: normal;
			}
			padding: 10px;
			border: #666 solid 1px;
		}
	}
}

html, body, input, button, a {
	font-family: Palatino, serif;
	font-weight: 300;
}
