<div>
  <div class="adM"></div>
  <div style=
  "color:rgb(0,0,0);font-family:Helvetica;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;word-wrap:break-word">
    <div style=
    "color:rgb(0,0,0);font-family:Helvetica;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:-webkit-auto;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;word-wrap:break-word">
      <div style="font-style:normal">
        Pax Christi,
      </div>
      <div style="font-style:normal">
        <br>
      </div>
      <div style="font-style:normal">
        {{ name }}
      </div>
      <div style="font-style:normal">
        Resurrection School
      </div>
      <div style="font-style:normal">
        <a href="mailto:{{ email }}@resurrectionlansing.org" target=
        "_blank">{{ email }}@resurrectionlansing.org</a>
      </div>
      <div style="font-style:normal">
        <br>
      </div>
      <div>
        <i>Go Shamrocks!!!</i>
      </div>
    </div>
  </div><span style=
  "color:rgb(0,0,0);font-family:Helvetica;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><span><br class="m_-4679087465775128717Apple-interchange-newline"
  style=
  "color:rgb(0,0,0);font-family:Helvetica;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px">

  <span style=
  "color:rgb(0,0,0);font-family:Helvetica;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px">
  <span><img class="CToWUd" height="126" id=
  "m_-467908746577512871736E7D9F0-95E0-4EAA-8D3E-7717856177F7" src=
  "assets/images/shamrock.jpg"
  width="126"></span></span></span></span>
  <div class="yj6qo"></div>
  <div class="adL"></div>
</div>